<!DOCTYPE html>
<html lang="ja">
<head>
	<link rel="stylesheet" href="main.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<fieldset>
			<legend>支払い方法</legend>
				クレジットカード
				<input type="radio" name="pay" value="credit" v-model="pay" />
				銀行振り込み
				<input type="radio" name="pay" value="bank" v-model="pay" />
				手渡し
				<input type="radio" name="pay" value="hand" v-model="pay" />
				<hr/>
				<div v-if="pay === 'credit'">
					カード番号:
					<input type="text" key="credit" />
				</div>
				<div v-else-if="pay==='bank'">
					口座番号:
					<input type="text" key="bank" />
				</div>
				<div v-else-if="pay='hand'">
					手渡し:
					<input type="text" key="hand">
				</div>
		</fieldset>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				pay: 'credit'
			}
		})
	</script>
</body>
