<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue.js App</title>
	<link rel="stylesheet" href="main.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p>Hello {{ message.value }}</p>
		<p>{{ message.value.length }}</p>
		<p>{{ list[2] }}</p>
		<p>{{ list[num] }}</p>
		<p>{{ 1 + 1 }}</p>
		<p>{{ message.value.length >= 10 ? '10文字以上' : '10文字未満' }}</p>
		<p v-if='seen'>Now you see me</p>
		<p v-for='fruits in list'>{{ fruits }}</p>
		<p>{{ Math.round(3.14) }}</p>
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: {
					value: 'Hello Vue.js!'
				},
				list: ['りんご', 'ばなな', 'イチゴ'],
				num: 1,
				seen: true,
				character: 'Vue.js'
			}
		})
	</script>
</body>
</html>
